@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #322d3d;
    overflow-x: hidden;
}
section {
    margin-top: 7vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container {
    width: 60%;
    height: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
}
.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.form-content {
    margin-top: 2vh;
    width: 100%;
    padding: 2rem;
}
.form-content h1 {
    font-size: 4rem;
    font-family: 'Roboto';
    font-weight: 700;
    color: #322d3d;
    margin-bottom: 2rem;
}
.form-content p {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #322d3d;
    margin-bottom: 2rem;
}
.form-topics {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.topics {
    display: flex;
    flex-direction: row;
}
.ether {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
    margin-right: 1rem;
    color: #fff;
    background-color: #ff4500;
    border-radius: 1.5rem;
}
i {
    font-size: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
}
.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto';
}
label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.info-erro {
    font-size: 1.2rem;
    color: #ff4500;
    font-weight: 400;
}
.erro {
    border-color: #ff4500;
}
input {
    outline: none;
    height: 4rem;
    margin-bottom: 2rem;
}
.btn {
    background-color: #130a25;
    color: #fff;
    height: 4rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:disabled {
    opacity: 70%;
    cursor: auto;
}
.btn:hover {
    background: linear-gradient(to right, rgba(227,38,9,1) 0%, rgba(242,88,4,1) 100%);
    transition: ease-in-out 0.4s;
}
.form-template {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(227,38,9,1) 0%, rgba(242,88,4,1) 100%);
    border-radius: 1rem;
}
footer {
    width: 100%;
    text-align: center;
}
.attribution { font-size: 11px; text-align: center; color: #fff;}
.attribution a { color: hsl(228, 45%, 44%); }