* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.elementos-form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}
.campos-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.campos-form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.botoes-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botoes-form button{
    background-color: #248;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}